@media screen and (max-width: 320px) {
    #undertekst{
        width: 90%;
    }

    .content{
        padding-right:0px;
    }
}

@media screen and (max-width: 378px) {

    .content{
        padding-right:0px;
        padding-left:0px;
    }
}


@media screen and (max-width: 400px) {

    .content{
        padding-right:0px;
    }
}