@media screen and (max-width: 685px) {
    .product-info {
        margin: 60px 5% 0px !important;
        width: 90% !important;
        left: 0 !important;
    }

    #about div.f-text-right, #about div.f-text-right h1 {
        text-align: center;
    }

    #about .f-text-left,  #about div.f-text-left h1 {
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .f-left {
        float: none;
    }

    .overskrift{
        width:98%;
        margin:0 auto;
        position: relative;
        margin-top:20px;
    }

    .center {
        margin: 0 auto;
        position: relative;
        width: 210px;
    }
}