@media screen and (max-width: 768px) {
    #short-desc {
        margin:0;
        padding:20px;
    }

    .short-desc-one {
        float:none;
        width:100%;
        padding:0 5% 5% 5%;
    }

    .short-desc-two {
        float:none;
        width:100%;;
        padding:0 5% 5% 5%;

        h1, h2 {
            font-size: 20px;
            margin-bottom: 15px;
        }

        p {
            margin: 10px 0 20px 0;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5;
        }
    }
    
    #undertekst{
        width: 90%;
    }

    .content button{
        margin-bottom:0px;
    }

}