@media screen and (max-width: 800px) {

    #home-text {
        margin-top:25%;
        width:100%;
        margin-left:0;
        padding:20px;
    }

    .span-details {
        display:none;
    }

    #contact-form {
        margin-top:50px;
    }

    .content{
        padding-right: 20px;
    }

    .grid {
        p {
            padding:0px 10px 0px 10px;
        }

        h1 {
            padding:0px 10px 0px 10px;
        }        
    }

    h1.abouttitle {
        font-size:30px;
    }
}