// Plugins (folder: /plugins)
@import "plugins/clearfix";
@import "plugins/reset";
@import "plugins/grid";



// SCSS Modules (folder: /modules)


// Partials (folder: /partials)
@import "partials/colors";
@import "partials/prefixes";
@import "partials/seperator";

// Main CSS files
//@import "style";
@import "navigation";
@import "home";
@import "products";
@import "secondbreak";
@import "contact";
@import "about";

// Media Queries (folder: /media_queries)
@import "media_queries/960";
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#undertekst{
    position: relative;
    top: 10px;
    margin: 0 auto;
    max-width: 650px;
    margin-bottom: 50px;
    margin-top: 15px;
    text-align:center;
    line-height:23px;
}

span.object {
    font-size: 30px;
    font-weight: 300;
    color:$red;
}

-span.break {
    font-size: 80px;
    font-weight: 100;
    top: 18px;
    position: relative;
    font-family: serif;
-}

.f-left {
    float:left;
}

.f-right {
    float:right;
}

.a-left {
    text-align:left !important;
}

#short-desc {
    margin:50px 0 50px 0;
    width:100%;
}

.short-desc-one {
    float:left;
    width:50%;
    padding-left:5%;

    img {
        display:block;
        margin:0 auto;
    }
}

.short-desc-two {
    float:left;
    width:50%;
    padding-right:5%;

    h1, h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    p {
        margin: 10px 0 20px 0;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
    }
}

// Media Queries (folder: /media_queries)
@import "media_queries/960";
@import "media_queries/800";
@import "media_queries/768";
@import "media_queries/685";
@import "media_queries/500";
@import "media_queries/320";
